body{
    text-align: center;
    background: linear-gradient(45deg, #1D1D1D 0 45%, #B50717 50% 100%) !important;
    
}


/* ------------------------------------------------------------------------------ Navbar -------------------------------------------------------------------------------- */

.nav-link, .navbar-brand{
    font-family: 'Orbitron', sans-serif;
    
  }

.navbar {
    background-color: #1D1D1D !important;
}

.nav-link{
    margin: 0 20px 0 20px;
}

.nav-link:hover, nav-link:active{
    color: #a80000 !important;
}



 /* ------------------------------------------------------------------------------ Landing Page Section -------------------------------------------------------------------------------- */
 #Landing-Page{
    color: white;
    /*height: 100vh !important;*/
 }
 
 
/* --------------------------------------------------- Landing Page Quiz --------------------------------------------------- */
.landing-page-quiz-content{
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(5px); 
    border-radius: 25px;
    margin: 50px 50px 0 50px;
    padding: 100px 10px 100px 10px;
}

.landing-page-form{
    display: none;
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(5px); 
    border-radius: 25px;
    margin: 100px 50px 0 50px;
    padding: 100px 10px 100px 10px;
}

/* --------------------------------------------------- Landing Page Quiz --------------------------------------------------- */

/* -----------------------------------Form-Text ----------------------------------- */

.Form-text{
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    text-shadow: 5px 5px 3px black;
  }
  
  #Form-El{
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 250;
    width: 300px;
  }
  
  .Form-Label{
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 25px;
    
  
    
  }

/*----------------------------------- Input Element ----------------------------------- */
#input-el{
    margin-top: 30px;
    padding: 10px 30px 10px 30px ;
    border-radius: 15px;
    border: none;
    text-align:left; 
    box-sizing: border-box;
}

/* ----------------------------------- Submit Button ----------------------------------- */
#submit-btn{
    padding: 20px 50px 20px 50px;
    margin-bottom: 50px;
    border-radius: 23px;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    transition:  0.3s ease-out !important;
}
  
#submit-button:hover{
    background: #36454F !important;
    transform:  scale(1.05) !important; 
    
}
  
.button-submit{
    transition: 0.3s ease-out !important;
}
  

/* ------------------------------------------------------------------------------ Landing Page -------------------------------------------------------------------------------- */
.Landing-Page-Heading{
    padding: 50px 0 10px 0;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 5px 5px 3px black;
    transition: font-size 2s;
}

.Landing-Page-Heading:hover, .Landing-Pag-Heading:active{
    font-size : 70px;
  }

.Landing-Page-Text{
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 5px 5px 3px black;
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 36;
    animation-timing-function: ease-in-out;
}
  
  @keyframes example {
    0% {font-family: 'Fredoka One', cursive; }
    20% {font-family: 'Lobster', cursive;}
    40%  {font-family: 'Permanent Marker', cursive;}
    0% {font-family: 'Fredoka One', cursive;}
    20% {font-family: 'Lobster', cursive;}
    100%  {font-family: 'Orbitron', sans-serif;}
    
  }
  

.novl-text-1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    text-shadow: 5px 5px 3px black;
}

.novl-text-2{
    font-family: 'Fredoka One', cursive;
    padding-top:10px;
    text-shadow: 5px 5px 5px black;
    
}

/* ------------------------------------------------------------------------------ Discography Page -------------------------------------------------------------------------------- */
#Discography-Page{
    color: white;
}

.section-headers{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
    margin-top: 50px;
}


.disc-cont{
    align-items: center;
}


/* ---------- Discography Images -----------*/

.disc-img{ 
    width : 300px;
    height : 300px;
    transition: all .4s ease-in-out; 
    margin: 10px 10px 0 10px;
    border-radius: 7.5%;
}

.disc-img:hover,.disc-img:active { 
          transform: scale(1.2); 
}

.section-heading{
    margin: 20px 0 20px 0;
    color: #f0928b;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    transition: color 1.5s;
    text-shadow: 5px 5px 5px black;
  }
  
  .section-heading:hover, .section-heading:active{
    color: #CBC3E3;
  }


  
/* ------------------------------------------------------------------------------ HMBLMR Page -------------------------------------------------------------------------------- */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.album-image{
    display: flex !important;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    /*background-color: #bbb;*/
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    /*background-color: dodgerblue; */
    color: white;
    transform: rotateY(180deg);
  }

/* ------------------------------------------------------------------------------ Merch Store -------------------------------------------------------------------------------- */

header{
    background-image: url("/novl-images/broken-prophet-3.jpeg");
    background-size: cover;
    background-position: center;
    height: 450px;
}

.header-text{
    margin-top: 120px;
}







/* ------------------------------------------------------------------------------ Media Queries -------------------------------------------------------------------------------- */


/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {
    .nav-items-div{
        margin-right:0 ;
    }
    .novl-image{
        margin-top: 20px;
    }

    .novl-text{
        margin-top: 50px;
        
    }

    #new-btn{
        padding: 20px 50px 20px 50px;
        margin: 20px 10px 10px 0px;
        border-radius: 23px;
        background: black;
        color: white;
        font-weight: bold;
        border: none;
        transition:  0.3s ease-out !important;
        font-family: 'Orbitron', sans-serif;
    }
    .disc-img{ 
        width : 150px;
        height : 150px;
        transition: all .4s ease-in-out; 
        margin: 10px 10px 0 10px;
        border-radius: 7.5%;
    }
    
    .disc-img:hover,.disc-img:active { 
              transform: scale(1.2); 
    }

    .flip-card{
        margin-right: 30px;
    }

    .hmb-lmr-image{
        width: 180px;
        height: 180px;
        border-radius: 7.5% !important;
    }








 }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 

}


/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
    .novl-text{
        margin-top: 100px;
        text-align: center;
    }
  
    .hmb-lmr-image{
        width:350px;
        height:350px;
        border-radius: 7.5% !important;
    }


  


}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  { 
    .nav-items-div{
        margin-right:100px ;
    }
    .novl-image{
        margin-top: 50px;
        width : 500px;
        height : 450px;
        text-align: left;
    }

    .novl-text{
        margin-top: 100px;
        text-align: left;
    }
    .disc-img{ 
        width : 300px;
        height : 300px;
        transition: all .4s ease-in-out; 
        margin: 10px 10px 0 10px;
        border-radius: 7.5%;
    }
    
    .disc-img:hover,.disc-img:active { 
              transform: scale(1.2); 
    }


    .hmb-lmr-image{
        width:400px;
        height:400px;
        border-radius: 7.5% !important;
    }



    
   
}

 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {
    .nav-items-div{
        margin-right:100px ;
    }

    .landing-page-quiz-content{
        margin: 250px 50px 0 50px;
    }

    #Landing-Page{
        height: 100vh !important;
     }

    .actual-landing-page{
        margin-top: 80px;
    }

    .novl-image{
        margin-top: 100px;
        text-align: left;
    }

    .novl-text{
        margin-top: 100px;
        text-align: left;
    }

    #new-btn{
        padding: 20px 50px 20px 50px;
        margin: 20px 10px 50px 0px;
        border-radius: 23px;
        background: black;
        color: white;
        font-weight: bold;
        border: none;
        transition:  0.3s ease-out !important;
        font-family: 'Orbitron', sans-serif;
    }
    .disc-img{ 
        width : 300px;
        height : 300px;
        transition: all .4s ease-in-out; 
        margin: 10px 10px 0 10px;
        border-radius: 7.5%;
    }
    
    .disc-img:hover,.disc-img:active { 
              transform: scale(1.2); 
    }




    .hmb-lmr-image{
        width:400px;
        height:400px;
        border-radius: 7.5% !important;
    }







}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) {
    .nav-items-div{
        margin-right:100px ;
    }

    .landing-page-quiz-content{
        margin: 250px 50px 0 50px;
    }

    #Landing-Page{
        height: 100vh !important;
     }

    .novl-image{
        margin-top: 100px;
        text-align: left;
    }

    .novl-text{
        margin-top: 100px;
        text-align: left;
    }

    #new-btn{
        padding: 20px 50px 20px 50px;
        margin: 20px 10px 0px 0px;
        border-radius: 23px;
        background: black;
        color: white;
        font-weight: bold;
        border: none;
        transition:  0.3s ease-out !important;
        font-family: 'Orbitron', sans-serif;
    }

    .disc-img{ 
        width : 300px;
        height : 300px;
        transition: all .4s ease-in-out; 
        margin: 10px 10px 0 10px;
        border-radius: 7.5%;
    }
    
    .disc-img:hover,.disc-img:active { 
              transform: scale(1.2); 
    }

    .flip-card{
        margin-left: 80px;
    }

    .hmb-lmr-image{
        width:400px;
        height:400px;
        border-radius: 7.5% !important;
    }





 }







footer{
    background-color: #1D1D1D;
    text-align: center !important;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}